*~
.DS_Store
!**/.gitkeep

## auto environment files
.env
.out
.env.in
.env.out

## python version file
.python-version

## virtualenv
venv/

## ide settings
.idea

## coverage file
.coverage

## python dist files
build/
dist/
**.egg-info
*.pyc
**/__pycache__

## files
tmp/**
ohas
ohas2
response*.json

