*~
.DS_Store

## auto environment files
.env
.out

## python version file
.python-version

## virtualenv
venv/

## ide settings
.idea

## coverage file
.coverage

## python dist files
build/
dist/
**.egg-info
*.pyc
**/__pycache__

## files
OHA/response.json
response.json

